.header-bg {
  background-color: #000;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 1200px;
  gap: 20px;
}
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.menu-header {
  display: flex;
  gap: 30px;
}
.header a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  position: relative;
  padding: 16px;
}
.menu-header a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #fff;
  position: absolute;
  transition: 0.25s;
}
.menu-header a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .menu-header {
    gap: 20px;
  }
  .menu-header a:after {
    display: none;
  }
  .menu-header a {
    padding: 12px 16px;
    background-color: #111;
    border-radius: 4px;
    transition: 0.25s;
  }
  .menu-header a:hover {
    background-color: #222;
  }
}
@media (max-width: 600px) {
  .menu-header {
    gap: 16px;
  }
  .menu-header a {
    padding: 10px 14px;
    font-size: 16px;
  }
}
